* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 211, 211);
}

/*Header*/
.topBanner {
    padding: 20px 50px;
    background-color: rgb(48, 160, 20);
    color: #fff;
}

nav {
    padding: 20px 50px;
    background-color: rgb(78, 78, 78);
}

nav a {
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
}

/*MAIN*/
.mainIntro {
    text-align: center;
    padding: 100px;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
    background-image: url(../images/background.jpeg);
    background-position: center;
    margin-bottom: 30px;
}

.mainBody {
    margin: 50px 100px;
    overflow: hidden; /*para que respete el tamaño de sus hijos y no haga falta un div.clear al final*/
}

.mainContent {
    float: left;
    width: 80%;
    padding-right: 20px;
}

.mainContent h3 {
    margin-bottom: 30px;
}

aside {
    float: right;
    padding: 20px;
    background-color: rgb(78, 78, 78);
    color: #fff;
    width: 20%;
}

/*Footer*/
footer {
    text-align: center;
    background-color: rgb(78, 78, 78);
    color: #fff;
    padding: 40px;
}

/*Responsive*/
@media only screen and (max-width: 768px) {
    .mainContent, aside {
        float: none;
        width: 100%;
    }

    nav a {
        display: block;
        padding-bottom: 20px;
    }

    nav a:last-child {
        padding: 0; /*para terminar de cuadrar todo el nav*/
    }

    .mainContent {
        padding: 0; /*ya que el aside no está a la derecha, el padding right no es necesario*/
        margin-bottom: 20px;
    }

    .mainIntro {
        font-size: 36px;
    }
    .mainBody {
        margin: 25px 50px; /*al ser mas pequeño, podemos bajarle el margin general a la pagina*/
    }
}