* {
    box-sizing: border-box;
}

.container {
    border: 2px solid;
    padding: 5px;
}

/*HEADER*/
.topBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-bottom: 15px;
}

/*MAIN CONTENT*/
.mainContent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

article img {
    float: left;
    padding: 5px;
}

aside a {
    display: block;
}

.lateral {
    height: 80%;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

