* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.menu {
    background-color: skyblue;
    text-align: center;
}
span {
    display: block;
    padding: 10px;
}

span:last-child {
    display: none;
}

span:hover {
    background-color: rgb(58, 190, 241);
}

@media only screen and (min-width: 600px) {
    span {
        display: inline-block;
        width: 20%;
    }
}

@media only screen and (min-width: 1000px) {
    span {
        width: 16.6%;
    }
    span:last-child {
        display:inline-block;
    }
}