* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.menu {
    background-color: skyblue;
    padding: 10px;
    text-align: center;
}
span {
    display: block;
    padding: 10px;
}

span:last-child {
    display: none;
}

span:hover {
    background-color: rgb(58, 190, 241);
}

@media only screen and (min-width: 500px) {
    span {
        display: inline-block;
    }
}

@media only screen and (min-width: 700px) {
    span:last-child {
        display:inline-block;
    }
}