
li {
    background-color: rgb(132, 221, 136);
    width: 150px;
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
    border-bottom: none;
}

/* para evitar que se doblen los bordes internos lo adaptamos así  */
li:last-child {
    border-bottom: 1px solid;
}

li:hover {
    background-color: rgb(12, 107, 28);
    color: #fff;
    list-style-image: url(images/star-gold.png);
}

ul {
    list-style-image: url(images/star.png);
    list-style-position: inside;
    padding: 0;
}