
li {
    width: 100px;
    border: 3px solid;
    background-color: rgb(132, 221, 136);
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
}

li:hover {
    background-color: rgb(12, 107, 28);
    color: #fff;
    list-style-image: url(images/star-gold.png);
}

ul {
    list-style-image: url(images/star.png);
    list-style-position: inside;
    margin: 0;
    padding: 0;
}