.barra {
    background-color: rgb(216, 216, 216);
    border: 2px rgb(122, 122, 122) solid;
    width: 400px;
    padding: 10px 5px;
    /* tambien se podria hacer con "position relative" aquí y "position absolute" en el hijo con posicion right */
} 

.botonSiguiente {
    float: right;
}
