* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, system-ui, Roboto, Helvetica, Arial;
}

/* VARIABLES PARA COLORES  */

:root {
    --purple-light: #7e3af2;
    --purple-dark: #6c2bd9;
    --orange-light: #feecdc;
    --orange-dark: #ff5a1f;
    --blue-light: #e1effe;
    --blue-dark: #3f83f8;
    --green-light: #def7ec;
    --green-dark: #0e9f6e;
    --teal-light: #d5f5f6;
    --teal-dark: #0694a2;
    --red-light: #fde8e8;
    --red-dark: #e02424;
    --gray-light: #f4f5f7;
    --gray-dark: #24262d;
}

body {
    display: flex;
}

.mainPage {
    flex-grow: 1;
    background-color: var(--gray-light);
}

/* SIDEMENU  */

.sideMenu {
    display: none;
    width: 250px;
    margin-right: 10px;
    flex-shrink: 0; /*al estar en auto reacciona con el grow del dashboard. ponemos shrink 0 para fijarlo*/
}

.menuTitle {
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.sideMenu > p {
    display: flex;
    align-items: center;
    height: 50px;
    color: grey;
}

.add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: var(--purple-dark);
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.sideMenu i,
.menuTitle img {
    padding: 10px;
}

.sideMenu>p:hover {
    border-left: solid 5px var(--purple-dark);
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    color: var(--gray-dark);
    cursor: pointer;
}

/* NAVBAR */

.fa-bars,
.fa-search,
.fa-bell {
    color: var(--purple-dark);
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: white;
    box-shadow: 0 4px 5px -5px black;
    padding-left: 20px;
    padding-right: 20px;
}

.search > input {
    border: none;
    background-color: var(--gray-light);
    margin-left: 5px;
    width: 200px;
}

.search {
    display: flex;
    align-items: center;
    height: 66%;
    background-color: var(--gray-light);
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 20px;
}

img {
    border-radius: 50%;
    margin-left: 15px;
}
.profile {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* DASHBOARD  */

.dashboard {
    background-color: var(--gray-light);
}

.dashboard {
    padding: 25px;
}

.dashboard h1 {
    margin-bottom: 25px;
}

/* BANNER */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: var(--purple-dark);
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}

/* SUMMARY BUTTONS  */

.gridSummary {
    display: grid; /* display flex tambien valdria, pero por coherencia con el responsive usamos grid  */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin: 10px;
}

[class^="summary"] {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

[class^="icon"] {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0; /*evita que encojan los iconos con el display*/
}

.iconClients {
    background-color: var(--orange-light);
    color: var(--orange-dark);
}

.iconBalance {
    background-color: var(--green-light);
    color: var(--green-dark);
}

.iconSales {
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.iconContacts {
    background-color: var(--teal-light);
    color: var(--teal-dark);
}

.text {
    margin-left: 10px;
}

.text > p {
    padding: 5px
}

/* ACCOUNTS / TABLE */

.accounts table {
   width: 100%;
   background-color: white;
   border-collapse: collapse;
   border-style: hidden;
   margin-top: 50px;
   border-radius: 10px;
   box-shadow: 0 0 0 1px grey;
   overflow: hidden;
}

thead {
    background-color: rgb(221, 221, 221);
    height: 50px;
}

tr {
    border-bottom: 1px solid black;
}

tfoot {
    background-color: rgb(221, 221, 221);
    height: 50px;
    width: 100%;
}

.footer1 {
    text-align: left;
    padding-left: 10px;
}

.footer2 {
    text-align: right;
    padding-right: 10px;
}

th span {
    padding: 5px;
}

th span:hover {
    background-color: var(--purple-light);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.approved {
    color: green;
    background-color: rgba(0, 128, 0, 0.308);
    padding: 5px;
    border-radius: 50px;
}

.denied {
    color: red;
    background-color: rgba(255, 0, 0, 0.253);
    padding: 5px;
    border-radius: 50px;
}

.expired {
    color: black;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 5px;
    border-radius: 50px;
}

.textAccount {
    margin-left: 10px;
}

.accountProfile {
    display: flex;
    padding: 5px;
    align-items: center;
}

[class^="accountImage"] {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.accountImage-1 {
    background-image: url(../images/dummy-1.jpg);
}

.accountImage-2 {
    background-image: url(../images/dummy-2.jpg);
}

.accountImage-3 {
    background-image: url(../images/dummy-3.jpg);
}

.accountImage-4 {
    background-image: url(../images/dummy-4.jpg);
}

.accountImage-5 {
    background-image: url(../images/dummy-5.jpg);
}

.accountImage-6 {
    background-image: url(../images/dummy-6.jpg);
}

.accountImage-7 {
    background-image: url(../images/dummy-7.jpg);
}

.accountImage-8 {
    background-image: url(../images/dummy-8.jpg);
}

/* RESPONSIVE */

@media only screen and (min-width: 767px) { /*para Tablet*/
    .sideMenu {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .gridSummary {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) { /*para Desktop*/
    .gridSummary {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}