.bordered {
    border: 2px solid;
}

.searchbar {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

nav {
    padding: 5px;
}

.mainSection {
    margin-top: 5px;
}

.column-1 {
    width: 20%;
    height: 800px;
    overflow: auto;
    padding: 0px 5px;
}

.column-2 {
    width: 78%;
    height: 720px;
    float: right;
}

.mainArticles {
    height: 100%;
    width: 78%;
    box-sizing: border-box;
    padding: 0px 5px;
    overflow: auto;
}

.rightColumn {
    width: 20%;
    height: 80%;
    float: right;
}

footer {
    height: 25px;
    margin-top: 20px;
    padding: 10px 10px;
}

footer p {
    float: right;
    margin: 0;
}

.links {
    margin-top: 30px;
}

.links a {
    display: block;
    padding: 2px;
}

.news, .links {
    margin-bottom: 20px;
}

article img {
    float: left;
    padding: 5px;
}

.rightColumn {
    padding: 0px 5px;
}

