* {
    box-sizing: border-box;
}

.bordered {
    border: 2px solid;
}

.topSection {
    position: relative;
}

/* usamos la siguiente forma para central verticalmente el elemento de busqueda dentro de su elemento padre */
.searchbar {
    position: absolute;
    right: 10px;
    top: 50%; /* para centrarlo */
    margin-top: -17px; /*la mitad del tamaño del elemento para corregirlo verticalmente*/
}

nav {
    padding: 5px;
}

.mainSection {
    margin-top: 5px;
}

aside {
    width: 20%;
    height: 800px;
    overflow: auto;
    padding: 0px 5px;
}

.column-2 {
    width: 78%;
    height: 720px;
    float: right;
}

.mainArticles {
    height: 100%;
    width: 78%;
    padding: 0px 5px;
    overflow: auto;
}

.rightColumn {
    width: 20%;
    height: 80%;
    float: right;
    overflow: auto;
}

footer {
    margin-top: 20px;
    height: 30px;
    padding: 5px;
}

footer p {
    float: right;
    margin: 0;
}

.links {
    margin-top: 30px;
}

.links a {
    display: block;
    padding: 2px;
}

.news, .links {
    margin-bottom: 20px;
}

article img {
    float: left;
    margin: 5px;
}

.rightColumn {
    padding: 0px 5px;
}

